#git-icon {
  max-width: 180px;
  max-height: 180px;
  margin: 10px 50%;
  display: block;
  margin-left: 40%;
}
h3 {
  margin-left: 40%;
}

.MuiTextField-root {
  margin-top: 10px;
  display: block;
}
